header
{
    background: #BBBBBB;
}

.caixa
{
    position: relative;
    width: 940px;
}
nav
{
    position: absolute;
    top: 110px;
    right: 15px;
}


nav li
 {
    display: inline;
    margin: 0 0 0 15px;
  
}
nav a
{
    text-transform: uppercase; 
    color: #000000;
    font-weight: bold; 
    font-size: 25px;
    text-decoration: none;
}
